.form-body-container {
  background-color: #223f6c; /* Background color */
  padding: 20px;
}

.paper-container {
  padding: 10px;
  border: 2px dashed rgb(36, 30, 30);
}

.empty-message {
  color: #ffffff; /* Color for the empty message */
  font-style: italic; /* Italicize the text */
}

.body-item-container {
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.body-item-container.dragging {
  opacity: 0.5;
}

.custom-text-field .MuiInputBase-input {
  color: #fff; /* White text color */
}

.custom-text-field .MuiOutlinedInput-root {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 5px;
}

.custom-text-field .MuiOutlinedInput-notchedOutline {
  border-color: #fff; /* White border color */
}

.custom-text-field .MuiInputLabel-root {
  color: #aaa; /* Placeholder text color */
}

.custom-typography {
  color: #fff; /* White text color */
}
