.footer-section-container {
  background-color: #223f6c;
  padding: 20px;
}

.paper-container {
  padding: 10px;
  border: 2px dashed rgb(36, 30, 30);
}

.footer-item {
  display: flex;
  align-items: center; /* Align items vertically centered */
  gap: 10px; /* Add space between elements */
}

.custom-text-field {
  flex: 1; /* Make text fields take equal space */
}

.empty-message {
  color: #ffffff;
  font-style: italic;
}

.footer-item .MuiTextField-root {
  flex: 1; /* Ensure the text fields expand to take up available space */
}

.footer-item .MuiIconButton-root {
  flex: 0; /* Ensure the delete button does not grow */
}
